<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div th:if="${param.error}">
    Senha ou username invalido!
</div>

<div th:if="${param.logout}">
    Voce esta desconectado!
</div>

<form th:action="@{/login}" method="post">

    <div>
        <label>Username: <input type="text" name="username"/></label>
    </div>

    <div>
        <label>Password: <input type="password" name="password"/></label>
    </div>

    <div><input type="submit" value="Sign in"></div>

</form>
</body>
</html>