<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:replace="base :: headCust">
    <meta charset="UTF-8">
    <title>Contacto</title>
</head>
<body>

<div th:replace="base :: navlinks"></div>
<div class="container">
    <div class="alert alert-primary" role="alert">
        <h2>Entre em contacto</h2>
    </div>
<form>
    <div class="form-group">
        <label for="exampleFormControlInput1">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="codegate@info.com">
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Servicos</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>Sugestoes</option>
            <option>Duvidas</option>
            <option>Reclamacoes</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Comentario</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
</div>



<div th:replace="base :: footer"></div>

</body>
</html>
