<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:replace="base :: headCust">
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>

<div th:replace="base :: navlinks"></div>

<div class="container">

    <div class="alert alert-dark" role="alert">
        Ainda sem artigos!
    </div>
    <div>
        <img src="https://www.meme-arsenal.com/memes/fb2e6d4873e13a07a9d7fdc83cb22649.jpg" class="img-thumbnail">
    </div>


</div>
<div th:replace="base :: footer"></div>
</body>

</html>